.vscode/
.env

go-server/go-server.exe
go-server/.env
go-server/thunder-tests/
go-server/sql/
go-server/tmp/

solid-js-frontend/node_modules
solid-js-frontend/dist
solid-js-frontend/.env
solid-js-frontend/bun.lockb