@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	background-color: #eee;
}

#root {
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.error-message {
	color: red;
	padding: 8px;
}

a:hover {
	text-decoration: underline;
}

input,
select,
textarea {
	background-color: transparent;
	border-color: #ccc;
}

.tracker-header::before {
	content: "";
	background-image: url("../assets/plane.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	height: 60px;
	width: 60px;
}
