name: Docker Image CI

on:
  push:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Login to Dockerhub
      run: echo "${{secrets.HELLO}}"
    #   run: |
    #     echo "${{ secrets.DOCKER_USERNAME }}"
    #     echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      
    # - name: Build the Docker image
    #   run: docker-compose build

    # - name: Push to Docker
    #   run: docker push ryedae/higher-studies-application-tracker:latest
